/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-block-end: 10px;
  block-size: 100vh;
}

.decorated-zone {
  position: relative;
  padding: 10px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-style: solid;
  border-color: var(--accent-color);
  border-width: 0;
}

.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;

  border-block-start-width: 1px;
  border-inline-end-width: 1px;
}

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;

  border-block-end-width: 1px;
  border-inline-start-width: 1px;
}

.header__rec {
  position: absolute;
  inset-inline-end: 21px;
  inset-block-start: 11px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec .header__rec-dot {
  display: inline-block;
  block-size: 9px;
  inline-size: 9px;
  background-color: var(--accent-color);
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  grid-row: 1 / 1;
  justify-self: self-end;
  align-self: center;
  margin-block-start: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  font-family: "IBM Plex mono", monospace;
  text-transform: lowercase;
  cursor: pointer;
  line-height: 18px;
  font-size: 18px;
  block-size: 26px;
  inline-size: 70px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--nav-hover-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button_type_light:focus-visible,
.header__theme-menu-button_type_auto:focus-visible,
.header__theme-menu-button_type_dark:focus-visible {
  margin-block-end: -1px;
  border-block-end: 1px solid var(--accent-color);
  outline: none;
}

.header__title {
  grid-row: 2 / 2;
  align-self: center;
}

.hero-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--hero-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  grid-row: 3 / 3;
  align-self: center;
  margin-block-end: 10px;
}

.main-title {
  display: block;
  font-weight: bold;
  background-color: var(--accent-color);
  color: var(--main-subtitle-color);
}

.question-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
  margin-block-start: 50px;
}

.why.question-section {
  margin-block-start: 40px;
}

.how .main-title {
  margin-block-end: 10px;
}

.question {
  font-weight: bold;
  color: var(--accent-color);
}

.question-answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-text {
  font-weight: normal;
  color: var(--main-text-color);
}

.main-subtitle {
  display: block;
  font-weight: normal;
  background-color: var(--accent-color);
  color: var(--main-subtitle-color);
}

.main-link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.main-link:hover {
  text-decoration: underline;
}

.main-link:focus-visible {
  outline: 1px solid var(--link-hover-color);
}

.pictures {
  display: flex;
  flex-direction: column;
}

.pictures.question-section {
  gap: 10px;
}

.picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pictures-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.footer {
  display: flex;
  block-size: 100vh;
  justify-content: center;
  align-items: center;
  margin-block-start: 38px;
}

@media (width >= 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }

  .decorated-zone {
    padding: 20px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__rec {
    position: absolute;
    inset-inline-end: 30px;
    inset-block-start: 20px;
    color: var(--accent-color);
    text-transform: uppercase;
  }

  .header__theme-menu {
    grid-column: 2 / 2;
    margin-block-start: 110px;
  }

  .header__title {
    grid-column: 1 / 3;
    margin-inline-start: -20px;
  }

  .hero-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    grid-column: 2;
    align-self: center;
    margin-block-end: 115px;
  }

  .question-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 0 20px;
    margin-block-start: 80px;
  }

  .why.question-section {
    margin-block-start: 60px;
  }

  .why .question-answer {
    grid-column: 2 / 4;
    min-inline-size: 472px;
    justify-self: right;
  }

  .what .question-answer {
    grid-column: 1 / 4;
  }

  .what .question {
    grid-column: 1 / 4;
    inline-size: calc(100% / 4);
  }

  .how.question-section {
    gap: 10px;
    margin-block-start: 79px;
  }

  .how .question-answer {
    min-inline-size: 472px;
    justify-self: right;
    margin: 0;
  }

  .how .question-answer,
  .how .main-title {
    grid-column: 2 / 4;
    margin-block-end: 10px;
  }

  .pictures.question-section {
    display: flex;
    flex-direction: column;
    margin-block-start: 70px;
    gap: 20px;
  }

  .pictures .main-title {
    grid-column: 1 / 4;
    height: min-content;
    margin-block-end: 0;
  }

  .pictures-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    max-block-size: 780px;
  }

  .pictures-grid .picture:nth-child(1) {
    grid-row: 1 / 1;
    grid-column: 1 / 3;
  }

  .pictures-grid .picture:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 3 / 3;
  }

  .pictures-grid .picture:nth-child(3) {
    grid-row: 2 / 4;
    grid-column: 1 / 1;
  }

  .pictures-grid .picture:nth-child(4) {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
  }

  .pictures-grid .picture:nth-child(5) {
    grid-row: 3 / 3;
    grid-column: 2 / 4;
  }

  .footer {
    margin-block-start: 60px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-row: 1 / 1;
    justify-self: center;
    align-self: flex-start;
    margin-block-start: 0;
    grid-column: 1 / 4;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__subtitle {
    margin-block-end: 57px;
  }

  .what .question {
    grid-column: 1 / 4;
    inline-size: calc(100% / 3);
  }

  .why .question-answer {
    min-inline-size: 649px;
  }

  .how .question-answer {
    min-inline-size: 649px;
  }

  .how.question-section {
    margin-block-start: 80px;
  }

  .what .question-answer {
    grid-column: span 1;
    min-inline-size: 315px;
  }

  .pictures.question-section {
    margin-block-start: 68px;
  }

  .pictures-grid {
    max-block-size: 1091px;
    grid-template-rows: 260px 315px 433px;
  }
}
